.idea/
.vs/
target/
packages/
*.iml
*.sln
cSeleniumSharp/App.config
cSeleniumSharp/ClassDiagram1.cd
cSeleniumSharp/Properties/
cSeleniumSharp/bin/
cSeleniumSharp/cSeleniumSharp.csproj
cSeleniumSharp/cSeleniumSharp.csproj.user
cSeleniumSharp/obj/
